# Ignore .idea directory
.idea/

# Ignore bin and obj directories in GlitchGuard.Api
GlitchGuard.Api/bin/
GlitchGuard.Api/obj/

# Ignore bin and obj directories in GlitchGuard.Infrastructure
GlitchGuard.Infrastructure/bin/
GlitchGuard.Infrastructure/obj/


# Ignore bin and obj directories in GlitchGuard.Infrastructure
GlitchGuard.Domain/bin/
GlitchGuard.Domain/obj/

#Ignore user settings
GlitchGuard.sln.DotSettings
GlitchGuard.sln.DotSettings.user